<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="showBackButton" defaultHref="/home"></ion-back-button>
      <ion-menu-button *ngIf="!showBackButton"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>{{ title }}</ion-title>
    
    <ion-buttons slot="end">
      <ion-button routerLink="/cart" *ngIf="isLoggedIn">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge *ngIf="cartItemCount > 0" color="danger">{{ cartItemCount }}</ion-badge>
      </ion-button>
      
      <ion-button routerLink="/profile" *ngIf="isLoggedIn">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      
      <ion-button routerLink="/login" *ngIf="!isLoggedIn">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
